<h1>Welcome!</h1>
<% if current_user %>
  <%= button_to 'Logout', '/logout', method: :delete %>
  <% @users.each do |user| %>
    <%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %>
  <% end %>
<% else %>
  <%= button_to 'Log in', login_path, method: :get %>
  <%= button_to "Create a New User", register_path, method: :get %>
<% end %>

