---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=api_key&page=1&query=spaceballs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/vq9QrPICVfjz53Pt3t2iLaBBhY6.jpg","genre_ids":[35,878],"id":957,"original_language":"en","original_title":"Spaceballs","overview":"When
        the nefarious Dark Helmet hatches a plan to snatch Princess Vespa and steal
        her planet''s air, space-bum-for-hire Lone Starr and his clueless sidekick
        fly to the rescue. Along the way, they meet Yogurt, who puts Lone Starr wise
        to the power of \"The Schwartz.\" Can he master it in time to save the day?","popularity":22.561,"poster_path":"/o624HTt93iIJIc1Sg5hNkDTnk5l.jpg","release_date":"1987-06-24","title":"Spaceballs","video":false,"vote_average":6.8,"vote_count":2288},{"adult":false,"backdrop_path":null,"genre_ids":[35,99],"id":686508,"original_language":"en","original_title":"Spaceballs:
        In Conversation - Mel Brooks and Thomas Meehan","overview":"Features a sit-down
        with two of the film''s writers; the third, Ronny Graham, passed away in 1999.","popularity":1.377,"poster_path":"/tI8MZ3wo9EHhn3Vu0pEKVwhNGIM.jpg","release_date":"2005-05-03","title":"Spaceballs:
        In Conversation - Mel Brooks and Thomas Meehan","video":false,"vote_average":2,"vote_count":1}],"total_pages":1,"total_results":2}'
  recorded_at: Fri, 04 Feb 2022 04:03:40 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=api_key&page=2&query=spaceballs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"results":[],"total_pages":1,"total_results":2}'
  recorded_at: Fri, 04 Feb 2022 04:03:40 GMT
recorded_with: VCR 6.0.0
