---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=api_key&page=1&query=asdflaskldfjklasdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 04 Feb 2022 03:30:29 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=api_key&page=2&query=asdflaskldfjklasdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 04 Feb 2022 03:30:29 GMT
recorded_with: VCR 6.0.0
